\:root 

    /*=============================================*/
    /*=         Default Color Variables           =*/
    /*=============================================*/

    --color-p: var(--color-P400)
    --color-a: #489ADA
    --color-a-alt: var(--color-P400)
    --color-b: var(--color-N000)
    --color-b-alt: var(--color-N800)
    --color-t: #25435A
    --color-t-c: #A5ADBA
    --color-t-alt: var(--color-N020)
    --color-t-h: #25435A
    --color-t-h-alt: var(--color-N040)